@page "/"

<PageTitle>Index</PageTitle>

<h1>Annisco Task App</h1>

Welcome to our Task App!
<p>Which Task would you like to add?</p>

<input type="text" name="task_name" @oninput="UpdateText" @bind-value="InputValue"/>

<label>Is this the task you want to add?</label>
<button @onclick="AddTask">Add</button>
<button @onclick="CancelTask">Cancel</button>
<alert>@Confirm</alert>

@code{
    public string InputValue { get; set; }
    public string Text { get; set; }
    public string Confirm { get; set; }
    public string task_name { get; set; }
    public string newTaskEntry { get; set; }
    public void UpdateText(ChangeEventArgs e)
    {
        Text = e.Value.ToString();
    }

    public void CancelTask()
    {
        InputValue = null;
        Confirm = string.Empty;
    }

    public void AddTask()
    {

        Confirm = "The task has been successfully added to the database.";
        newTaskEntry = InputValue;
        InputValue = null;
    }


}